<footer class="footer">
  <p>Copyright © <a href="https://github.com/devlauer">Lauer</a> and individual contributors to <a href="https://github.com/devlauer/plantuml-generator">PlantUML Generator</a>.</p>
  <p>Except where otherwise noted, PlantUML Generator, its documentation, the PlantUML generator maven plugins and the PlantUML generator utility module, are licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache Licence Version 2.0</a>.</p>
</footer>
